.container {
  .display {
    background-color: #abbaa7;
    border: 2px solid #6d6d6d;
    border-radius: 5px;
    -webkit-box-shadow: inset -2px -2px 3px 1px #96a292;
    -moz-box-shadow: inset -2px -2px 3px 1px #96a292;
    box-shadow: inset -2px -2px 3px 1px #96a292;
    clear: both;
    color: #2f2f2f;
    content: "";
    display: flow-root;
    font-family: "Orbitron", sans-serif;
    padding: 0;
    position: relative;
    left: 0;
    right: 0;
    p {
      float: right;
      &.clearIt {
        float: none;
        display: table;
        margin: 0;
        width: 100%;
      }
      &.calculation {
        font-size: 1.5rem;
        height: 25px;
      }
      &.result {
        font-size: 2.7em;
      }
      &.invisible {
        visibility: hidden;
      }
    }
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .container {
    .display {
      .result {
        font-size: 2em;
      }
    }
  }
}

@media only screen and (max-device-width: 767px) and (orientation: landscape) {
  .container {
    .display {
      .result {
        font-size: 2em;
        line-height: 1.2;
      }
    }
  }
}

@media screen and (max-width: 576px) and (orientation: landscape) {
  .container {
    .display {
      .calculation {
        font-size: 1.3rem;
        margin-bottom: 5px;
      }
      .result {
        font-size: 2em;
      }
    }
  }
}

@media screen and (max-width: 453px) and (orientation: landscape) {
  .container {
    .display {
      .result {
        line-height: normal;
      }
    }
  }
}
