.btn-key {
  border: 1px solid #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 3px 0 #000000bf;
  -moz-box-shadow: 1px 2px 3px 0 #000000bf;
  box-shadow: 1px 2px 3px 0 #000000bf;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  line-height: 0;
  margin: 5px;
  padding: 0;
  text-align: center;
  transition: color 0.25s ease;
  width: 50px;
  &:focus {
    -webkit-box-shadow: 1px 2px 3px 0 #000000bf;
    -moz-box-shadow: 1px 2px 3px 0 #000000bf;
    box-shadow: 1px 2px 3px 0 #000000bf;
  }
  &:active,
  &.active {
    -webkit-box-shadow: 1px 1px 2px 0 #000000df !important;
    -moz-box-shadow: 1px 1px 2px 0 #000000df !important;
    box-shadow: 1px 1px 2px 0 #000000df !important;
    transform: translateY(1px);
  }
  &:hover {
    border-color: #999999;
  }
  .sup {
    font-size: 1.2rem;
    font-style: italic;
    position: relative;
    bottom: 1rem;
    left: 2px;
  }
  .pi {
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 400;
  }
}
