a {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#root {
  padding: 0 10px;
  .container {
    max-width: 600px;
  }
}

p {
  margin: 0 0.5rem 0.3rem;
}

.container {
  .row {
    &:nth-child(2),
    &:nth-child(3) {
      background-color: #3949ab;
      border: 5px solid #007bff;
      border-radius: 10px;
    }
    &:nth-child(2) {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding-top: 15px;
    }
    &:nth-child(3) {
      padding: 15px;
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding-left: 0;
      padding-right: 0;
      .col:nth-child(1) {
        padding-right: 0;
      }
    }
  }
}
.grid {
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  vertical-align: top;
  border: 1px solid #007bff;
  .btn-key {
    &[id="16"] {
      width: 70px;
    }
  }
}

@media only screen and (max-device-width: 767px) and (orientation: landscape) {
  .container {
    &:nth-of-type(1) {
      .mt-2,
      .mb-2 {
        margin: 0 !important;
        padding: 7px 0;
        .h3,
        h3 {
          display: inline;
          font-size: 1.75rem;
        }
        p {
          display: inline-block;
          margin-left: 0.5rem;
          margin-bottom: 0;
          a {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  .container {
    .display {
      .result {
        font-size: 2em;
        line-height: 1.2;
      }
    }
  }
  .grid {
    .btn-key {
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: bold;
      height: 40px;
      line-height: 0;
      margin: 5px;
      padding: 0;
      text-align: center;
      transition: color 0.25s ease;
      width: 40px;
    }
    .pi {
      font-size: 1.7rem;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 576px) and (orientation: landscape) {
  .container:nth-of-type(1) {
    .mt-2,
    .mb-2 {
      margin: 0 !important;
      padding: 2px 0;
      .h3,
      h3 {
        display: inline;
        font-size: 1.75rem;
      }
      p {
        display: inline-block;
        margin-left: 0.5rem;
        a {
          margin-left: 0.5rem;
        }
      }
    }
  }
  .display {
    p {
      &.calculation {
        font-size: 1.3rem;
        margin-bottom: 5px;
      }
      &.result {
        font-size: 2em;
      }
    }
  }
  .col {
    .grid {
      border-radius: 5px;
      padding: 0;
      .btn-key {
        &.btn-primary {
          margin: 5px 8px;
        }
        .pi {
          font-size: 1.4rem;
          font-style: italic;
          font-weight: 500;
        }
      }
      [id="16"] {
        width: 50px;
      }
    }
  }
}

@media screen and (max-width: 499px) and (orientation: landscape) {
  .container {
    .mt-2 {
      padding: 10px 0;
      .h3,
      h3 {
        display: inline;
        + p {
          font-size: 0.9rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 453px) and (orientation: landscape) {
  .container:nth-of-type(1) {
    .mt-2 {
      h3 {
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    .display {
      .calculation {
        font-size: 1rem;
      }
      .result {
        font-size: 1.7em;
      }
    }
    .grid {
      .btn-key {
        border-radius: 5px;
        font-size: 1.5rem;
        height: 40px;
        line-height: 0;
        margin: 5px;
        padding: 0;
        width: 40px;
        font-weight: 500;
      }
      .pi {
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 383px) and (orientation: landscape) {
  // 383
  #root {
    .container:nth-of-type(1) {
      .mt-2 {
        h3 {
          font-size: 1.1rem;
        }
        p {
          a {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) and (orientation: landscape) {
  #root {
    .container {
      .mt-2 {
        h3 {
          font-size: 1rem;
        }
        p {
          a {
            margin-left: 0.3rem;
            span {
              display: none;
            }
          }
        }
      }
      .grid {
        .btn-key {
          height: 28px;
          width: 28px;
        }
        [id="16"] {
          width: 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    .grid {
      .btn-key {
        height: 30px;
        width: 30px;
      }
      [id="16"] {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  // 320
  #root {
    .container {
      .mt-2 {
        a {
          span {
            display: none;
          }
        }
      }
    }
  }
}
