// body {
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//     sans-serif;
//   margin: 0;

//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
// #root {
//   background-color: #deb887; /* burlywood in 'chrome' */
//   & > div {
//     padding: 20px;
//     h3 {
//       display: inline-block;
//       margin: 0 0 0 -71px;
//       padding: 0 0 10px;
//       // width: 40px;
//       position: relative;
//       left: 50%;
//     }
//   }
// }
